/* Custom Fonts: poppins(400, 600), opensans(400) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/* Variables */
:root {
  /* Primary */
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);

  --poppins: 'Poppins', sans-serif;
  --open-sans: 'Open Sans', sans-serif;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--poppins);
  background-color: var(--violet);
}

.container {
  width: 1440px;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.bg-image {
  padding: 40px 80px;
  height: 100%;
  background-image: url('../img/bg-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 30%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}